@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a3a3a3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #d3d3d3;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 14px;
}

.card-about > *:not(:last-child)::after {
  content: '|';
  padding-inline: 0.2rem;
}
